<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div class="healthtip-detail">
  <span class="label label-primary">Primary</span>
  <h4>{{healthtip.title}}</h4>
  <p>{{healthtip.description}}</p>
</div> -->



<!-- <div id="left">
  <div id="header">
    <a href="#" class="logo">&nbsp;</a>
  </div>
  <div id="filter">
    <ul class="control">
      <li><a href="#">全部</a></li>
      <li><a href="#">话题</a></li>
      <li><a href="#">用户</a></li>
    </ul>
  </div>
  <div id="nav-container">
  <div infinite-scroll='reddit.nextPage()'
  infinite-scroll-disabled='reddit.busy' 
  infinite-scroll-distance='1' class="list-group all">
    <div class="list-group-item" ng-repeat='item in reddit.items'
    style="border-bottom: 1px solid;">
      <h2>{{item.title}}</h2>
        <p>
          <strong>{{item.author}}</strong>
          <span>{{item.score}}</span>
        </p>
        <span class="badge">14</span>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div>
</div></div> -->



<div id="left">
  <div id="header">
    <a href="#" class="logo">&nbsp;</a>
  </div>
  <div id="filter">
    <ul class="control">
      <li><a href="#">全部</a></li>
      <li><a href="#">话题</a></li>
      <li><a href="#">用户</a></li>
    </ul>
  </div>
  <div id="nav-container">

    <!-- <ul class="list-group all"> -->
    <ul infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1' class="list-group all">
      <!-- <li ng-repeat="entry in entries" class="list-group-item">
        <a href
        ng-click="itemClicked($index, entry)"
        ng-class="{ 'current': $index == selectedIndex }"> -->
      <my-item ng-repeat="item in reddit.items">
        <h2>{{item.title}}</h2>
        <p>
          <strong>{{item.author}}</strong>
          <span>{{item.num_comments}}</span>
        </p>
        <span class="badge">{{item.score}}</span>
       <!--  </a>
      </li> -->
      </my-item>
      <li ng-show='reddit.busy' style="padding: 8px;">Loading data...</li>
    <!-- </ul> -->
  </ul>
  
  </div>
</div>