<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div class="healthtip-detail">
  <span class="label label-primary">Primary</span>
  <h4>{{healthtip.title}}</h4>
  <p>{{healthtip.description}}</p>
</div> -->



<!-- <div>
  <div infinite-scroll='reddit.nextPage()'
  infinite-scroll-disabled='reddit.busy' 
  infinite-scroll-distance='1'>
    <div ng-repeat='item in reddit.items'
    style="border-bottom: 1px solid;">
      <span class='score'>{{item.score}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
      <br>
      <small ng-click="itemClicked($index)">
        by {{item.author}} -
        <a ng-href='http://reddit.com{{item.permalink}}' 
        target='_blank'>
        {{item.num_comments}} comments
        </a>
      </small>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div>
</div> -->



<div id="left">
  <div id="header">
    <a href="#" class="logo">&nbsp;</a>
  </div>
  <div id="filter">
    <ul class="control">
      <li><a href="#">全部</a></li>
      <li><a href="#">话题</a></li>
      <li><a href="#">用户</a></li>
    </ul>
  </div>
  <div id="nav-container">

    <!-- <ul class="list-group all"> -->
    <my-item-container infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
      <!-- <li ng-repeat="entry in entries" class="list-group-item">
        <a href
        ng-click="itemClicked($index, entry)"
        ng-class="{ 'current': $index == selectedIndex }"> -->
      <my-item ng-repeat="item in reddit.items">
        <h2>{{item.title}}</h2>
        <p>
          <strong>{{item.author}}</strong>
          <span>{{item.score}}</span>
        </p>
        <span class="badge">14</span>
       <!--  </a>
      </li> -->
      </my-item>
    <!-- </ul> -->
  </my-item-container>
  
  </div>
</div>