<!-- <p>This is the partial for view 1.</p> -->

<div id="left">
  <div id="header">
    <a href="#" class="logo">&nbsp;</a>
  </div>
  <div id="filter">
    <ul class="control">
      <li><a href="#">全部</a></li>
      <li><a href="#">话题</a></li>
      <li><a href="#">用户</a></li>
    </ul>
  </div>
  <div id="nav-container">

    <!-- <ul class="list-group all"> -->
    <div my-item-container>
      <!-- <li ng-repeat="entry in entries" class="list-group-item">
        <a href
        ng-click="itemClicked($index, entry)"
        ng-class="{ 'current': $index == selectedIndex }"> -->
      <my-item ng-repeat="entry in entries">
        <h2>{{entry.2}}</h2>
        <p>
          <strong>{{entry.0}}</strong>
          <span>{{entry.1}}</span>
        </p>
        <span class="badge">14</span>
       <!--  </a>
      </li> -->
      </my-item>
    <!-- </ul> -->
  </div my-item-container>
  
  </div>
</div>

<my-content content="opened"></my-content>

<!-- <script src="js/partial1.js"></script>